body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 90%;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

#addRecipeButton {
  padding: 8px 18px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addRecipeButton:hover {
  background-color: #0056b3;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#searchBar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#recipeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-decoration: none;
}

.recipeCard {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.recipeCard img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.recipeCard h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.recipeCard p {
  margin: 0;
}

#filterDropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

a { 
  text-decoration: none;
  color: black;
}

button {
  background-color: #5e5d5d; /* Primary button color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

/* Button hover effect */
button:hover {
  background-color: black; /* Darker shade on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}

#recipeDetails {
  text-align: center;
}

#recipeDetails img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

#recipeDetails h1 {
  margin-top: 20px;
}

#recipeDetails h2 {
  margin-top: 20px;
}

#recipeDetails ul,
#recipeDetails ol {
  text-align: left;
  margin: 0 auto;
  max-width: 600px;
}


/* Add responsiveness */
@media (max-width: 768px) {
  .recipeCard {
      width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .recipeCard {
      width: calc(100% - 20px);
  }

  h1 {
      font-size: 24px;
  }

  #searchBar {
      font-size: 16px;
      padding: 8px;
  }

  .recipeCard h3 {
      font-size: 16px;
  }

  .recipeCard p {
      font-size: 14px;
  }
}
